<div class="table-body" style="position:relative; width:70%; margin-left:200px;  margin-right:200px; margin-top:50px;">
	
	<div style="position:absolute; left:200px;">
		<h2>文章編輯</h2>
		<p ><input type="text" placeholder="Title" ng-model="title"></p>
		<p><textarea rows="25" cols="90" placeholder="Your content"ng-model="content"></textarea></p>
		<ul class="confirm-button">	
			<li><button ng-click="saveAtricle()">提交</button></li>
			<li><button ng-click="cleanArticle()">清除</button></li>	
		</ul>
	</div>
</div>
