<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <title>Frank's Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />  
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/webflow.css"> -->
    <link rel="stylesheet" type="text/css" href="css/maydaycha.webflow.css">
</head>
<body ng-controller="MyCtrl1">
    <div class="content">
        <div id="header" class="top_block header">
            <div class="header-content">
                <input id="searchBar" class="search-bar" ng-model="searchRequest" placeholder="search" required>
                <input class="search-button" type="image" src="img/search_clipped_rev_1.png" ng-click="search1()" >
                <ul>
                    <!-- <li id="searchList"><a class="nav-link" href="" target="_self" ng-click="change_to_searchResult()">搜尋列表</a></li> -->
                    <li><a class="nav-link" href="" target="_self" ng-click="change_to_googlemap()">地圖定位</a></li>
                    <li><a class="nav-link" href="" target="_self" ng-click="change_to_article()">文章列表</a></li>
                    <li style="border-right-width: 0px;"><a class="nav-link" href="" target="_self">關於我們</a></li>
                </ul>
                <button ng-click="change_color()"style="position:absolute; right:100px;">change</button>
            </div>
        </div>

        <div class="top_block banner" style="background-color:white;">
            <div class="content menubar">
            </div>
        </div>
        <div class="background lside">
        </div>
        <div class="left_block lside" id="left_block">
            <div class="left_block_content">
                <div class="abgne_tab">
                    <ul class="tabs" >
                        <li class="active" id="hospital"><a href="" ng-click="change_seach_condition('hospital')">醫院</a></li>
                        <li class="" id="clinic"><a href="" ng-click="change_seach_condition('clinic')">診所</a></li>
                    </ul>

                    <div class="tab_container" id="tab_container1">
                        <!-- <table border="1" style="margin-left:10px;">
                            <th class="select-location-class-hospital">
                                <button id="hospital-button" class="select-location-class" ng-click="change_seach_condition('hospital')">醫院</button>
                            </th>
                            <th class="select-location-class-clinic">
                                <button id="clinic-button" class="select-location-class" ng-click="change_seach_condition('clinic')">診所</button>
                            </th>
                        </table> -->
                        <div class="selectDepart" id="selectDepart" ng-model="depart">
                            <select id="selectDepart"ng-model="depart" ng-options="d.name for d in departs"></select>
                        </div>
                        <p><button id="jilong-button" class="select-location" ng-click="location_display('jilong')">+基隆市</button></p>
                        <p><button id="taipei-button" class="select-location" ng-click="location_display('taipei')">+台北市</button></p>

                        <p><button id="newtaipei-button" class="select-location" ng-click="location_display('newtaipei')">+新北市</button></p>

                        <p><button id="taoyuan-button" class="select-location" ng-click="location_display('taoyuan')">+桃園縣</button></p>

                        <p><button id="xinzhuxian-button" class="select-location" ng-click="location_display('xinzhuxian')">+新竹縣</button></p>
                        
                        <p><button id="xinzhushi-button" class="select-location" ng-click="location_display('xinzhushi')">+新竹市</button></p>

                        <p><button id="miaoli-button" class="select-location" ng-click="location_display('miaoli')">+苗栗縣</button></p>

                        <p><button id="taichung-button" class="select-location" ng-click="location_display('taichung')">+台中市</button></p>

                        <p><button id="zhanghua-button" class="select-location" ng-click="location_display('zhanghua')">+彰化縣</button></p>

                        <p><button id="yunlin-button" class="select-location" ng-click="location_display('yunlin')">+雲林縣</button></p>

                        <p><button id="jiayi-button" class="select-location" ng-click="location_display('jiayi')">+嘉義縣</button></p>

                        <p><button id="tainan-button" class="select-location" ng-click="location_display('tainan')">+台南市</button></p>

                        <p><button id="gaoxiong-button" class="select-location" ng-click="location_display('gaoxiong')">+高雄市</button></p>

                        <p><button id="pingdong-button" class="select-location" ng-click="location_display('pingdong')">+屏東縣</button></p>

                        <p><button id="yilan-button" class="select-location" ng-click="location_display('yilan')">+宜蘭縣</button></p>

                        <p><button id="hualian-button" class="select-location" ng-click="location_display('hualian')">+花蓮縣</button></p>

                        <p><button id="taidong-button" class="select-location" ng-click="location_display('taidong')">+臺東縣</button></p>
                        
                        <p><button id="penghu-button" class="select-location" ng-click="location_display('penghu')">+澎湖縣</button></p>
                        
                        <p><button id="jinmen-button" class="select-location" ng-click="location_display('jinmen')">+金門縣</button></p>

                        <p><button id="lianjiang-button" class="select-location" ng-click="location_display('lianjiang')">+連江縣</button></p>

                    </div> 
                    <div class="tab_container" id="tab_container2">
                        <ul id="jilong" class="location-ul" >
                            <p id="button0">基隆市 <button ng-click="return_to_city()">x</button></p>
                            <li ng-repeat="jilongshi in jilongshis" id="{{jilongshi.english}}" ng-click="serchDistrict('{{jilongshi.english}}','-1','基隆市')">
                                <button style="background:none; border:0;">{{jilongshi.chinese}}</button>
                            </li>
                        </ul>
                        <ul id="taipei" class="location-ul" >
                            <p id="button1">台北市 <button ng-click="return_to_city()">x</button></p>
                            <li ng-repeat="taibeishi in taipeishis" id="{{taibeishi.english}}" ng-click="serchDistrict('{{taibeishi.english}}','0','台北市')">
                                <button style="background:none; border:0;">{{taibeishi.chinese}}</button>
                            </li>
                        </ul>
                        <ul id="newtaipei" class="location-ul">
                            <p id="button2" >新北市 <button ng-click="return_to_city()">x</button></p>
                            <li ng-repeat="xinbeishi in xinbeishis" id="{{xinbeishi.english}}" ng-click="serchDistrict('{{xinbeishi.english}}','1','新北市')">
                                <button style="background:none; border:0;">{{xinbeishi.chinese}}</button>
                            </li>
                        </ul>
                        <ul id="taoyuan" class="location-ul">
                            <p id="button3" >桃園市 <button ng-click="return_to_city()">x</button></p>
                            <li ng-repeat="taoyuan in taoyuans" id="{{taoyuan.english}}" ng-click="serchDistrict('{{taoyuan.english}}','2','桃園縣')">
                                <button style="background:none; border:0;">{{taoyuan.chinese}}</button>
                            </li>
                        </ul>
                        <ul id="xinzhuxian" class="location-ul">
                            <p id="button4">新竹縣 <button ng-click="return_to_city()">x</button></p>
                            <li ng-repeat="xinzhuxian in xinzhuxians" id="{{xinzhuxian.english}}" ng-click="serchDistrict('{{xinzhuxian.english}}','3','新竹縣')">
                                <button style="background:none; border:0;">{{xinzhuxian.chinese}}</button></li>
                            </ul>
                            <ul id="xinzhushi" class="location-ul">
                                <p id="button5">新竹市 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="xinzhushi in xinzhushis" id="{{xinzhushi.english}}" ng-click="serchDistrict('{{xinzhushi.english}}','4','新竹市')">
                                    <button style="background:none; border:0;">{{xinzhushi.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="miaoli" class="location-ul">
                                <p id="button6">苗栗縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="miaoli in miaolis" id="{{miaoli.english}}" ng-click="serchDistrict('{{miaoli.english}}','5','苗栗縣')">
                                    <button style="background:none; border:0;">{{miaoli.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="taichung" class="location-ul">
                                <p id="button7">臺中市 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="taizhongshi in taizhongshis" id="{{taizhongshi.english}}" ng-click="serchDistrict('{{taizhongshi.english}}','6','臺中市')">
                                    <button style="background:none; border:0;">{{taizhongshi.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="zhanghua" class="location-ul">
                                <p id="button8">彰化縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="zhanghua in zhanghuas" id="{{zhanghua.english}}" ng-click="serchDistrict('{{zhanghua.english}}','7','彰化縣')">
                                    <button style="background:none; border:0;">{{zhanghua.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="yunlin" class="location-ul">
                                <p id="button9">雲林縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="yunlin in yunlins" id="{{yunlin.english}}" ng-click="serchDistrict('{{yunlin.english}}','8','雲林縣')">
                                    <button style="background:none; border:0;">{{yunlin.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="jiayi" class="location-ul">
                                <p id="button10">嘉義縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="jiayi in jiayis" id="{{jiayi.english}}" ng-click="serchDistrict('{{jiayi.english}}','9','嘉義縣')">
                                    <button style="background:none; border:0;">{{jiayi.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="tainan" class="location-ul">
                                <p id="button11">台南市 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="tainan in tainans" id="{{tainan.english}}" ng-click="serchDistrict('{{tainan.english}}','10','台南市')"><button style="background:none; border:0;">{{tainan.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="gaoxiong" class="location-ul">
                                <p id="button12">高雄市 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="gaoxiong in gaoxiongs" id="{{gaoxiong.english}}" ng-click="serchDistrict('{{gaoxiong.english}}','11','高雄市')">
                                    <button style="background:none; border:0;">{{gaoxiong.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="pingdong" class="location-ul">
                                <p id="button13">屏東縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="pingdong in pingdongs" id="{{pingdong.english}}" ng-click="serchDistrict('{{pingdong.english}}','12','屏東縣')">
                                    <button style="background:none; border:0;">{{pingdong.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="yilan" class="location-ul">
                                <p id="button14">宜蘭縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="yilan in yilans" id="{{yilan.english}}" ng-click="serchDistrict('{{yilan.english}}','13','宜蘭縣')">
                                    <button style="background:none; border:0;">{{yilan.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="hualian" class="location-ul">
                                <p id="button15">花蓮縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="hualian in hualians" id="{{hualian.english}}" ng-click="serchDistrict('{{hualian.english}}','14','花蓮縣')">
                                    <button style="background:none; border:0;">{{hualian.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="taidong" class="location-ul">
                                <p id="button16">臺東縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="taidong in taidongs" id="{{taidong.english}}" ng-click="serchDistrict('{{taidong.english}}','15','臺東縣')"><button style="background:none; border:0;">{{taidong.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="penghu" class="location-ul">
                                <p id="button17">澎湖縣 <button ng-click="return_to_city()">x</button></p>
                                <li ng-repeat="penghu in penghus" id="{{penghu.english}}" ng-click="serchDistrict('{{penghu.english}}','16','澎湖縣')"><button style="background:none; border:0;">{{penghu.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="jinmen" class="location-ul">
                                <p id="button18">金門縣 <button ng-click="return_to_city()">x</button></p>  
                                <li ng-repeat="jinmen in jinmens" id="{{jinmen.english}}" ng-click="serchDistrict('{{jinmen.english}}','17','金門縣')"><button style="background:none; border:0;">{{jinmen.chinese}}</button>
                                </li>
                            </ul>
                            <ul id="lianjiang" class="location-ul">
                                <p id="button19">連江縣 <button ng-click="return_to_city()">x</button></p>     
                                <li ng-repeat="lianjiang in lianjiangs" id="{{lianjiang.english}}" ng-click="serchDistrict('{{lianjiang.english}}','18','連江縣')">
                                    <button style="background:none; border:0;">{{lianjiang.chinese}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="left_block_content2">
                    <p>篩選條件</p>
                </div>
            </div>
            <div class="background rside">
            </div>
            <div class="right_block rside" id="section_for_hospitalList">
                <div class="right_block_content" id="searchResult">
                    <h3 id="resultCount" style="display:none;">搜尋結果 (共: {{count}}筆)</h3>
                    <ul ng-repeat="a in list track by $index">
                        <li>{{$index+1}}. 名稱: {{a.name}}</li>
                        <li class="tab">地址: {{a.address}}</li>
                        <li class="tab">電話: {{a.tele}}</li>
                        <li class="tab">地圖: <input type="image" src="img/MapButton.jpg" height="20px;" ng-click="goToMap(a.name,a.tele,a.lat,a.lng)"></li>
                    </ul>
                </div>
            </div>
            <div class="background main">

            </div>
            <div class="center_block main" id="section_for_googlemap" style="display:block;">
                <div class="content">
                    主要內容
                </div>
            </div>
            <div ng-view class="center_block main" id="section_for_article" style="display:none;">
                <div class="content">
                </div>
            </div>
           <!--  <div class="center_block main"  id="section_for_hospitalList" style="display:none;">
                <div class="content" id="searchResult">
                    <h3>搜尋結果 (共: {{count}}筆)</h3>
                    <ul ng-repeat="a in list track by $index">
                        <li>{{$index+1}}. 名稱: {{a.name}} <input type="image" src="img/MapButton.jpg" height="20px;" ng-click="goToMap(a.name,a.tele,a.lat,a.lng)"></li>
                        <li class="tab">地址: {{a.address}}</li>
                        <li class="tab">電話: {{a.tele}}</li>
                    </ul>
                </div>
            </div> -->

            <div class="section grey" id="fourArticle">
                <div class="w-container">
                    <!-- <h1 class="section-title">文章放在這邊</h1> -->
                    <!-- <p class="section-subtitle">Send it to your best friends and your grandma. It’ll work on their computers and phones.</p> -->
                    <div class="w-row">
                        <div class="w-col w-col-4">
                            <a href><h3>{{title1}}</h3></a>
                            <div class="circle">
                                <div class="number">1</div>
                                {{content1}}
                                <!-- <a href="" style="position:relative; top:150px;"> read more.. </a> -->
                            </div>
                            <!-- <h3>Simple</h3> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p> -->
                        </div>
                        <div class="w-col w-col-4">
                            <h3>{{title2}}</h3>
                            <div class="circle">
                                <div class="number">2</div>
                                {{content2}}
                                <!-- <img class="frames" src="images/cfb9c962-e1a7-4beb-b83e-2a04600354d3_8-layout2.png" width="243px" alt="cfb9c962-e1a7-4beb-b83e-2a04600354d3_8-layout2.png"> -->
                                <!-- <a href="" style="position:relative; top:150px;"> read more.. </a> -->
                            </div>
                            <!-- <h3>Stacked</h3> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p> -->

                        </div>
                        <div class="w-col w-col-4">
                            <h3>{{title3}}</h3>
                            <div class="circle">
                                <div class="number">3</div>
                                {{content3}}
                                <!--  <img class="frames" src="images/765f203d-23b2-42de-9fb9-b6d11a3826d0_8-layout3.png" width="243px" alt="765f203d-23b2-42de-9fb9-b6d11a3826d0_8-layout3.png"> -->
                            </div>
                            <!-- <h3>Tetris</h3> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor.</p> -->
                        </div>
                        <div class="w-col w-col-4">
                            <h3>{{title4}}</h3>
                            <div class="circle">
                                <div class="number">3</div>
                                {{content4}}
                                <!-- <img class="frames" src="images/e862862b-71c2-4c31-b42d-fa06454208fc_8-layout1.png" width="243px" alt="765f203d-23b2-42de-9fb9-b6d11a3826d0_8-layout3.png"> -->
                            </div>
                            <!-- <h3>Tetris</h3> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor.</p> -->
                        </div>
                    </div>
                </div>
            </div>
<!-- <div class="bottom_block footer">
<div class="content">
一般Footer內容
</div>
</div> -->
</div>
<footer class="section footer">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6">
                <!-- <img class="logo-bottom" src="images/cd5f8906-0005-4633-a811-ae9ea1aa4320_1-logo.png" width="41px" alt="cd5f8906-0005-4633-a811-ae9ea1aa4320_1-logo.png"> -->
                <div class="w-hidden-small w-hidden-tiny footer-text"><!-- Gallio template. Made in Webflow --></div>
            </div>
            <div class="w-col w-col-6 right-footer-col">
                <div class="w-hidden-small w-hidden-tiny footer-text">與我們聯絡:</div>
                <a class="w-inline-block social-icon first" href=""> <!-- href="mailto:support@webflow.com?subject=Hello" -->
                    <img src="images/35ec5a20-6309-494a-9d48-0e463a4d6214_14-social-email.png" width="30px" alt="35ec5a20-6309-494a-9d48-0e463a4d6214_14-social-email.png">
                </a>
                <a class="w-inline-block social-icon" href="http://facebook.com" target="_blank">
                    <img src="images/8643c589-cd4b-46b1-956b-2eb95815c79c_14-social-facebook.png" width="30px" alt="8643c589-cd4b-46b1-956b-2eb95815c79c_14-social-facebook.png">
                </a>
                <a class="w-inline-block social-icon" href="http://www.twitter.com" target="_blank">
                    <img src="images/a1c85180-93b5-44b0-9d23-1cfa6881fdfe_14-social-twitter.png" width="30px" alt="a1c85180-93b5-44b0-9d23-1cfa6881fdfe_14-social-twitter.png">
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCZ-Qd5baLcEARYYVWuEMrkuwo5n2VmcUA&sensor=true"></script>
<script type="text/javascript" src="js/google_map.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="jquery-1.10.2.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/markerclusterer_compiled.js"></script>
<script src="js/markerclusterer.js"></script>
</body>
</html>

